.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom left, var(--background-dark-1), var(--background-dark-2));
}

.navbar-component {
  position: relative;
  z-index: 1;
}

.about-section-componenet {
  width: 35%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  transition: width 0.5s;
}

.slide {
  width: 8em;
}

.image-componenet img {
  width: 25%;
  position: absolute;
  bottom: 20%;
  left: 50%
}

.projects-page-component {
  margin-left: 10em;
  color: var(--primary-text-color-light);
}

@media (max-width: 1280px) {
  .image-componenet img {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .image-componenet img {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .image-componenet img {
    width: 50%;
    left: 40%;
  }
}

@media (max-width: 640px) {
  .App {
    height: 100%;
  }
  
  .about-section-componenet{
    width: 100%;
    position: unset;
    z-index: 0;
  }

  .image-componenet img {
    display: none;
  }

  .projects-page-component {
    margin-top: -2em;
    margin-left: 0;
  }
}
