.projects-page h1 {
    display: none;
}

.project-page-projects {
    display: flex;
}

.project-1, .project-2 {
    margin-bottom: 2em;
}

.project-2 {
    margin-left: 2em;
}

.project-3 {
    margin-left: 2em;
}

@media (max-width: 640px) {
    .projects-page {
        background-color: var(--card-color-2);
        padding-bottom: 3em;
    }

    .projects-page h1 {
        display: flex;
        justify-content: center;
        color: var(--primary-text-color-dark);
        margin-bottom: 1em;
    }

    .project-page-projects {
        display: block;
    }

    .project-2 {
        margin-left: 0em;
    }
}